@model IEnumerable<SSST.Models.Siswa>

@{
    ViewData["Title"] = "Daftar Siswa";
}

<h1>Daftar Siswa</h1>

<p>
    <a asp-action="Create">Daftar Baru</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SiswaNim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiswaNama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiswaAlamat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kelas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SiswaNim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiswaNama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiswaAlamat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kelas.KelasNama)
            </td>
            <td>
                <a asp-action="InputNilaiSiswa" asp-route-id="@item.SiswaID">Input Nilai Siswa</a> |
                <a asp-action="LihatNilaiSiswa" asp-route-id="@item.SiswaID">Lihat Nilai Siswa</a> |
                <a asp-action="Edit" asp-route-id="@item.SiswaID">Ubah Data</a> |
                <a asp-action="Details" asp-route-id="@item.SiswaID">Detil</a> |
                <a asp-action="Delete" asp-route-id="@item.SiswaID">Hapus</a> |
            </td>
        </tr>
}
    </tbody>
</table>
