@model List<SSST.Models.SiswaNilai>

@{
    ViewData["Title"] = "Input Nilai";
}

<h1>Input Nilai Siswa</h1>
<h4>Nama: @Model.First().Siswa.SiswaNama</h4>
<h4>NIM : @Model.First().Siswa.SiswaNim</h4>
<hr />
@using (Html.BeginForm("InputNilaiSiswa", "Siswa", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table style="width:100%" border="1">
        <thead>
            <tr>
                <th>Mata Pelajaran</th>
                <th>Nilai KKM</th>
                <th>Nilai Mata Pelajaran</th>
            </tr>
        </thead>
        <tbody>
            @for (int item = 0; item < Model.Count; item++)
            {
                <tr>
                    <input asp-for="@Model[item].MapelID" hidden />
                    <input asp-for="@Model[item].SiswaID" hidden />
                    <td>@Model[item].MataPelajaran.MapelNama</td>
                    <td><input asp-for="@Model[item].NilaiKKM" max="100" min="0" maxlength="3"/></td>
                    <td><input asp-for="@Model[item].Nilai" max="100" min="0" maxlength="3"/></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
}


<div>
    <a asp-controller="Kelas" asp-action="DaftarSiswaKelas" asp-route-id="@ViewBag.idkelas">Kembali ke Kelas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
