@model List<SSST.Models.SiswaNilai>

@{
    ViewData["Title"] = "Input Nilai";
}

<h1>Input Nilai Siswa</h1>

<h4>Nama: @Model.First().Siswa.SiswaNama</h4>
<h4>NIM : @Model.First().Siswa.SiswaNim</h4>
<hr />
@using (Html.BeginForm("InputNilaiSiswa", "Siswa", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table style="width:100%" border="1">
        <thead>
            <tr>
                <th>Mata Pelajaran</th>
                <th>Nilai KKM</th>
                <th>Nilai Mata Pelajaran</th>
            </tr>
        </thead>
        <tbody>
            @for (int item = 0; item < Model.Count; item ++)
            {
                <tr>
                    <input type="hidden" asp-for="@Model[item].SiswaID" />
                    <input type="hidden" asp-for="@Model[item].MapelID" />
                    <td>@Model[item].MataPelajaran.MapelNama</td>
                    <td>@Html.DisplayFor(m => m[item].NilaiKKM)</td>
                    <td>@Html.DisplayFor(m => m[item].Nilai)</td>
                </tr>
            }
        </tbody>
    </table>
}


<div>
    <a asp-controller="Kelas" asp-action="DaftarSiswaKelas" asp-route-id="@ViewBag.idkelas">Kembali ke Kelas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
