@model IEnumerable<SSST.Models.Kelas>

@{
    ViewData["Title"] = "Daftar Kelas";
}

<h1>Daftar Kelas</h1>

<p>
    <a asp-action="Create">Buat Kelas Baru</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KelasNama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KelasTingkat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KelasTahun)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guru)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KelasNama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KelasTingkat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KelasTahun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guru.GuruNama)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KelasID">Edit</a> |
                <a asp-action="DaftarSiswaKelas" asp-route-id="@item.KelasID">Lihat Daftar Siswa</a> |
                <a asp-action="Delete" asp-route-id="@item.KelasID">Hapus</a>
            </td>
        </tr>
}
    </tbody>
</table>
