@model IEnumerable<SSST.Models.MataPelajaran>

@{
    ViewData["Title"] = "Daftar Mata Pelajaran";
}

    <h1>Daftar Mata Pelajaran</h1>

<p>
    <a asp-action="Create">Buat Mata Pelajaran Baru</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MapelNama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapelDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapelGrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kelas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MapelNama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MapelDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MapelGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guru.GuruNama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kelas.KelasNama)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MapelID">Edit</a> |
                <a asp-action="LihatNilaiSiswa" asp-route-id="@item.MapelID">Lihat Nilai Siswa</a> |
                <a asp-action="Delete" asp-route-id="@item.MapelID">Hapus</a>
            </td>
        </tr>
}
    </tbody>
</table>
