@model SSST.Models.SiswaNilai

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SiswaNilai</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Siswa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Siswa.SiswaID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MataPelajaran)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MataPelajaran.MapelID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nilai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nilai)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SiswaID" />
        <input type="hidden" asp-for="MapelID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
