@model IEnumerable<SSST.Models.Guru>

@{
    ViewData["Title"] = "Index";
}

<h1>Daftar Guru</h1>

<p>
    <a asp-action="Create">Input Guru Baru</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GuruNama)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GuruNama)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GuruID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GuruID">Detil</a> |
                <a asp-action="Delete" asp-route-id="@item.GuruID">Hapus</a>
            </td>
        </tr>
}
    </tbody>
</table>
